
@tailwind base;
@tailwind components;
@tailwind utilities;

i {
    display: inline!important;
}

nav {
    width: 100%;
}

.std-content {
    /* display: flex; */
    align-self: center;
    justify-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    padding: 10px!important;
}

.title-container {
    margin: 2rem;
    padding: 1rem;
}

.std-table {
    width: 800px!important;
}

.gsv-description-container {
}

.gsv-timesheet-form {
    max-width: 400px!important;
    margin: auto!important;
}

.gsv-timesheet-table {
    /* min-width: 1200px!important; */
    max-width: 1200px!important;
    /* overflow-x: scroll!important; */
}

.std-table > tbody > tr > td {
    min-width: 134px!important;
    text-align:center;
}

.gsv-timesheet-table-container {
    /* min-width: 1800px; */
}

.gsv-timesheet-table {
    border: 1px solid #324773;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

.gsv-timesheet-table > tbody > tr > td {
    min-width: 134px!important;
    border-right: 1px solid #324773;
    border-left: 1px solid #324773;
    border-bottom: 1px solid #324773;
    padding: 7px;
    text-align:center;
}

.gsv-timesheet-table > tbody > tr > td > input[type="time"] {
    min-width: 13px!important;
    margin: 3px!important;
    padding: 3px!important;
}

.gsv-timesheet-table > thead > tr > th {
    min-width: 134px!important;
    padding: 12px;
    text-align:center;
    border: 1px solid #324773;
}

.gsv-destroy {
    color:red!important;
}

.gsv-destroy:hover {
    background-color: red;
    color: white!important;
    border-radius: 3px;
    
}

.gsv-edit {
    color:rgb(255, 196, 0)!important;
}

.gsv-edit:hover {
    background-color: rgb(255, 196, 0);
    color: white!important;
    border-radius: 3px;
    
}

.gsv-add {
    color:rgb(14, 172, 0)!important;
    display: inline-block;
    margin-bottom: 4px;
}

.gsv-add:hover {
    background-color: rgb(14, 172, 0);
    color:white!important;
    border-radius: 3px;
    
}

.gsv-secure {
    color:rgb(0, 118, 187)!important;
}

.gsv-secure:hover {
    background-color: rgb(0, 118, 187);
    color: white!important;
    border-radius: 3px;
    
}

.gsv-document {
    color:rgb(199, 15, 216)!important;
}

.gsv-document:hover {
    background-color: rgb(199, 15, 216)!important;
    color: white!important;
    border-radius: 3px;
    
}

.gsv-form {
    min-width: 300px!important;
}

.gsv-search {
    margin-right:15px;
}

.gsv-row-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance: textfield;
}

.alert {
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.alert-danger {
    background-color: #f44336;
    color: white;
}

.alert-success {
    background-color: #4CAF50;
    color: white;
}

.alert-info {
    background-color: #2196F3;
    color: white;
}

.alert-warning {
    background-color: #ff9800;
    color: white;
}

@media screen and (max-width: 576px) {

    body {
        width: 576px;
    }

    .std-content {
        max-width: 600px;
        padding: 0!important;
    }

    .gsv-timesheet-table {
        display:block;
        width: 100%;
        position:relative;
        /* padding: 20px; */
        border: none;
    }

    .gsv-timesheet-table-container {
        padding: 20px;
    }

    .gsv-form {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    body {
        width: 100%;
    }

    .std-content {
        max-width: 100%;
        padding: 0 1rem!important;
    }

    .gsv-timesheet-table-container {
        padding: 20px;
        overflow-x: auto;
        width:100%;
    }

    .gsv-form {
        width: 100%;
    }

    .gsv-timesheet-table {
        border: 1px solid #324773;
        border-collapse: collapse;
        width: 100%;
        border-radius: 5px;
    }
    
    .gsv-timesheet-table > tbody > tr > td {
        width: 134px!important;
        border-right: 1px solid #324773;
        border-left: 1px solid #324773;
        border-bottom: 1px solid #324773;
        padding: 7px;
        text-align:center;
    }
    
    .gsv-timesheet-table > tbody > tr > td > input[type="time"] {
        min-width: 13px!important;
        margin: 3px!important;
        padding: 3px!important;
    }
    
    .gsv-timesheet-table > thead > tr > th {
        min-width: 134px!important;
        padding: 12px;
        text-align:center;
        border: 1px solid #324773;
    }

    .hidden {
        display: none!important;
    }

}